:root {
/*for the index I want to design 3 modes - dark mode, light mode(default) and a fun shuffle mode (see reference here: https://farrynheight.com/) */
/*I think the best way to do this would be through css variables and am looking at this reference to try to make that happen https://www.youtube.com/watch?v=_gKEUYarehE, potentially building on this in JS?*/
/*these are just random colors to set up the design system*/

--base-color: white;
--base-variant: black;
--text-color: blue; 

/*Also having a bit with trouble fully understanding the variables specifically when it comes to fonts (do I need to write the font-style variable everytime) and responsivity */
    padding: 0.1rem;
    margin: 1em;
    background-color: rgb(255, 255, 255);
    --color: rgb(234, 234, 234); 
    --background: rgb(38, 38, 38); 
    --text-color:rgb(255, 255, 255); 
    --gutter: 2rem;
    --vertical: 4rem;  

    /*responsive type*/
    --scale: 1;

    /*header fonts*/
    --type-header: "megazoid", sans-serif;
    --type-header-style: normal;
    --heading-size: calc(var(--body-size) * 8);
    --webkit-text-stroke-width: 1px;
    
    /*subheading fonts*/
    --subheading-size: calc(var(--body-size) * 3);
    --type-subheading-weight:600;

    /*body copy fonts*/
    --type-body: "halyard-text", sans-serif;
    --type-body-style: normal;
    --type-body-weight:400;
    --body-size: 1.5rem;
}

body {
    padding-block-end:2rem;
    padding-block-start:10rem;
    border-radius: 20px; 
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    color: var(--text-color);
    background-color: var(--background);
    font-size: var(--body-size);
    font-family: var(--type-body);
    block-size: 100%;
    display: grid; 
    grid-template-rows: min-content 1fr min-content;
    align-items:center;
    border: 1px solid black;
}

main { 
    padding-inline:var(--gutter);
}

hgroup{
    padding-inline:var(--gutter);
    padding-block: var(--vertical);

h1 {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.1));
    font-family: var(--type-header);
    font-style: var(--type-header-style);
    font-weight: var(--type-header-weight);
    font-size: var(--heading-size);
    line-clamp: 7ch;
    line-height: 100%;
    color: rgb(230, 230, 230);
    -webkit-text-stroke: 1px rgb(18, 18, 18);
}

p{
padding-block: var(--gutter);
  font-style: var(--type-header-style);
  font-size: var(--body-size);
  line-height: 130%;
  max-width: 80%;
}

.menu {
    padding-block: var(--gutter);
    display: flex;
    flex-direction: row;
    gap: var(--gutter);
    position: fixed;
    top: 0;
    z-index: 1000;


a{
        font-weight: var(--type-body-weight);
        font-family: var(--type-body);
        text-transform: none;
        font-size: var(--body-size);
        line-height: 130%;
  max-width: 80%;
}
}
}


ul {
    padding-block: var(--gutter);
    display: grid;
    gap: var(--gutter);
    .item1{
    color: white;
    p{
        color: white;
    }
}
   .item2{
    color: white;
    p{
        color: white;
    }
}
  .item3{
    color: white;
    p{
        color: white;
    }
  }

    li {
        padding-block:var(--gutter);
        font-family: var(--body-size);
        font-weight: var(--type-subheading-weight);
        text-transform: uppercase;
        font-size: var(--subheading-size);
        p{
        font-weight: var(--type-body-weight);
        font-family: var(--type-body);
        text-transform: none;
        font-size: var(--body-size);
        line-height: 130%;
  max-width: 80%;
}
}
footer{
    p{
         font-family: var(--body-size);
         font-size: var(--subheading-size);
         text-transform: uppercase;
          padding-block: var(--vertical);
          margin-block:var(--vertical);
	padding-inline: var(--gutter);
    }
}
}

@media screen and (min-width: 760px) and (max-width: 1000px) {

    :root {

    }

	h1 {

    font-size: var(--heading-size);
    line-clamp: 7ch;
    line-height: 100%;
    color: rgb(230, 230, 230);
    -webkit-text-stroke: 1px rgb(18, 18, 18);
}

/* between Iphone and Tablet */
@media screen and (min-width: 430px) and (max-width: 760px) {
	body {
		overflow-x: hidden;
		margin: 0;
		padding: 0;
	}

}
}




        
    

