:root {
/*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/color_value/light-dark*/

color-scheme: light dark; 

/* Colors */
--color-background: light-dark(#F6F8FA, #0d1117);
--color-border: light-dark(#d0d7de, #21262d);
--color-text: light-dark(#000000, #ffffff);
--color-surface: light-dark(#ffffff, #000000);
--color-subtle: light-dark(#666666, #888888);
--color-links: light-dark(#000000, #000000);

/* Typography */
--font: 'Geist', sans-serif;
--font-mono: 'Geist Mono', monospace;

/* Layout */
--space-sm: 0.5rem;
--space-md: 1.5rem;
--space-lg: 4rem; 
--max-width: 56rem; 
--radius: 1rem;
}

body{
    width: 100%;
    padding: var(--space-sm);
    background-color: var(--color-background);
    color: var(--color-text);

        a {
        text-decoration: underline;
        }
}

header {
    nav {
    display:flex; 
    align-items: center; 
    justify-content: space-between;
    padding: var(--space-sm) var(--space-sm); 
    background-color: var(--color-surface);
    border-radius: var(--radius);
    font-family: var(--font);

        .menu {
        display: flex;
        flex-direction: row;
        gap: var(--space-md);
        list-style: none;
        }
        .logo {
        font-weight: 700;
        }
    }
    hgroup {
    padding: var(--space-lg);
    margin-block: var(--space-md);
    background-color: var(--color-surface);
        h1 {
            font-family: var(--font-mono);
            text-transform: uppercase;
            font-size: 1rem;
        }
        p {
            font-family: var(--font);
        }
}
}
