:root {
    --color: rgb(234, 234, 234); 
    --background: rgb(18, 18, 19); 
    --text-color:rgb(255, 255, 255); 
    --gutter: 2rem;
    --vertical: 4rem;  
    padding: 0.1rem;
    margin: 1em;
    background-color: rgb(255, 255, 255);

    /*header fonts*/
    --type-header: "megazoid", sans-serif;
    --type-header-style: normal;
    --heading-size: calc(var(--body-size) * 8);
    --webkit-text-stroke-width: 1px;
    
    /*subheading fonts*/
    --subheading-size: calc(var(--body-size) * 3);
    --type-subheading-weight:600;
    /*body copy fonts*/
    --type-body: "halyard-text", sans-serif;
    --type-body-style: normal;
    --type-body-weight:400;
    --body-size: 1.5rem;
}

body {
    padding-block-end:2rem;
    padding-block-start:10rem;
    border-radius: 20px; 
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    color: var(--text-color);
    background-color: var(--background);
    font-size: var(--body-size);
    font-family: var(--type-body);
    block-size: 100%;
    display: grid; 
    grid-template-rows: min-content 1fr min-content;
    align-items:center;
    border: 1px solid black;
}

main { 
    padding-inline:var(--gutter);
}
hgroup{
    padding-inline:var(--gutter);
    padding-block: var(--vertical);
h1 {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.1));
    font-family: var(--type-header);
    font-style: var(--type-header-style);
    font-weight: var(--type-header-weight);
    font-size: var(--heading-size);
    line-clamp: 7ch;
    line-height: 100%;
    color: rgb(230, 230, 230);
    -webkit-text-stroke: 1px rgb(18, 18, 18);
}
p{
padding-block: var(--gutter);
  font-style: var(--type-header-style);
  font-size: var(--body-size);
  line-height: 130%;
  max-width: 80%;
}
}

ul {
    padding-block: var(--gutter);
    display: grid;
    gap: var(--gutter);
    .item1{
    color: white;
    p{
        color: white;
    }
}
   .item2{
    color: white;
    p{
        color: white;
    }
}
  .item3{
    color: white;
    p{
        color: white;
    }
  }

    li {
        padding-block:var(--gutter);
        font-family: var(--body-size);
        font-weight: var(--type-subheading-weight);
        text-transform: uppercase;
        font-size: var(--subheading-size);
        p{
            font-weight: var(--type-body-weight);
        font-family: var(--type-body);
        text-transform: none;
  font-size: var(--body-size);
  line-height: 130%;
  max-width: 80%;
}
}
footer{
    p{
         font-family: var(--body-size);
         font-size: var(--subheading-size);
         text-transform: uppercase;
          padding-block: var(--vertical);
          margin-block:var(--vertical);
	padding-inline: var(--gutter);
    }
}
}

        
    

